{{ template "base" .}}
{{ define "title" }}RPS Web - Nuevo Juego {{ end }}
{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center py-4">
                Ingrese su nombre
            </h2>
            <form action="/game" method="POST">
                <div class="mb-3">
                    <label for="playerName" class="form-label">Nombre del jugador:</label>
                    <input type="text" class="form-control" id="playerName" name="playerName" placeholder="Nombre" required>
                </div>
                <div class="d-grid gap-2 py-4">
                    <button type="submit" class="btn btn-success btn-lg">Iniciar Juego</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{end}}